@theme {
  --font-playfair: "Playfair Display", "serif";
  --font-lato: "Lato", "sans-serif";
  --color-gold-light: #dbcaa3;
  --color-gold-default: #d1bb87;
  --color-gold-dark: #c4a96a;
  --color-sand: #fff9f5;
  --color-sand-light: #f5f0e8;
  --color-sand-dark: #e6d9c8;
  --color-default: #FBFAF9;
  --foreground: hsl(27, 4%, 43%);
  --container-main: 86rem;
}
